{#
  This file is part of FUJIN-P.
  SPDX-FileCopyrightText: 2024-2026 Toyoaki Nishida
  SPDX-License-Identifier: AGPL-3.0-or-later
  Source: https://github.com/u-fukuchiyama/fujin-p
#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}文書アーカイブ{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <style>
        /* コンテナの最大幅を広げてマージンを狭くする */
        .container {
            max-width: 95% !important;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>